#line-2 {
  background-color: rgb(222, 221, 221);
  margin-bottom: 20px;
  margin-top: 20px;
  height: 2px;
}
#mainBox{
  background-color: salmon;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 5px;
}
#container{
  display: flex;
  justify-content: center;
}