#simpleCartBox{

overflow-y: scroll;
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;
margin-top: -68px;
max-height: 100px;
}

#simpleCartBox::-webkit-scrollbar {
    width: 0;
    height: 0;
    /* color:rgba(109, 249, 139, 0.407) */
}
