@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
.footerBox{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Allison', cursive;
margin-top: 87px;
  color:#868889 ;
  /* background-color: rgb(235, 86, 70); */
  background-color: #F9C22E;
  /* background-color: #F15946; */
  /* align-items: center; */
  
  }